html, body {
	background-color: white;
	padding: 20px;
}

.resume {
	font-family: Palatino, 'Palatino Linotype', serif;
}


p {
	border: 2px solid black;
	padding: 5px;
	background-color: darkgray;
	
}

a {
	font-size: 18px;
}

#profilepic {
	margin: 1rem;
}

#pic {
	border-radius: 25px;
	display: block;
  	width: 20%;

}

.date, .details {
	margin: 1rem;
}

#HERE, #ndarng, #mathesons, #bde {
	margin: .5rem;
}



#contact h2{
	display: inline;
}

