body {
	background-color: lightgray;

}

h1 {
	font-size: 32px;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	color: red;
}

h2 {
	font-size: 24px;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	color: red;
}

h3 {
	font-size: 18px;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	color: blue;
}

h4 {
	font-size: 16px;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	
}

#work {
	
}

#military {
	
}